.menu {
   display: flex;
   padding: 28px 34px;
   align-items: center;
   justify-content: flex-start;
}

.menu__sign {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 36px;
   color: #5e81fe;
}

.menu__links {
   display: flex;
   width: fit-content;
   color: #404655;
   font-size: 16px;
   transition: 0.3s;
   margin-left: 100px;
   cursor: pointer;
}

.menu__link{
   margin-right: 36px;

   &:last-child {
      margin-right: unset;
   }
}

.menu__link:hover {
   color: #5e81fe;
   transition: 0.3s;
}

.menu__auth {
   display: flex;
   margin-left: auto;
}

.menu__button {
   font-size: 16px;
   padding: 8px 24px;
   background-color: #e5e5e5;
   border-radius: 2px;
   color: #5e81fe;
   transition: 0.3s;
   margin-right: 16px;

   &:last-child {
      margin-right: unset;
   }


   &:hover {
      background-color: #5e81fe;
      color: #e5e5e5;
      transition: 0.3s;
   }
}