
.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: fit-content;
   padding: 43px 56px 43px 106px;
   font-family: Roboto;
   align-self: center;
   justify-self: center;
}

.form__header--auth {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin-bottom: 36px;
}

.form__title {
   font-size: 24px;
   font-weight: bold;
   font-family: 'Roboto';
}

.form__cell {
   display: flex;
   flex-direction: column;
   margin-bottom: 26px;
}

.form__subtitle {
   font-size: 14px;
   margin-bottom: 4px;
   color: #6b778c;
}

.form__input {
   width: 416px;
   font-size: 14px;
   color: #7a869a;
   border: solid 2px #dfe1e6;
   background-color: #fafbfc;
   padding: 18px 8px;
}

.form__button {
   padding: 14px 26px;
   border-radius: 2px;
   background-color: #e5e5e5;
   color: #3a79ff;
   font-size: 14px;
   transition: 0.3s;
   align-self: flex-end;

   &:hover {
      color: #e5e5e5;
      background-color: #3a79ff;
      transition: 0.3s;
   }

}
